/* RESPONSIVE NAVBAR MENU STARTS */

:root {
  --back: rgb(201, 201, 34);
  --front: #1f1b1b;
  --theme2: rgb(24, 45, 165);
}

@font-face {
  font-family: "BlackHanSans";
  src: url("../public/assets/fonts/BlackHanSans-Regular.ttf") format("truetype");
}

.navbar {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  background-color: var(--back);
  color: var(--front);
}

.logo {
  font-family: "BlackHanSans";
}

.nav-links a {
  text-decoration: none;
  color: var(--front);
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: var(--back);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: var(--back);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--back);
}

.services:hover .dropdown {
  display: block;
}
/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--back);
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: var(--back);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: var(--back);
  }
}

.image {
  width: 85%;
}

.formSize {
  padding-top: 80px;
  width: 75%;
}

.gap {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 100%;
  }
  .formSize {
    width: 95%;
  }
  .gap {
    padding-right: 0px;
  }
  .logo {
    font-size: 24px;
  }
}

.theme {
  background-color: var(--back);
}

.theme2 {
  color: var(--theme2);
}

.formm {
  border: 2px solid var(--back);
}
